    .container-fluid.first{
        background-image: url(../../img/background-pc.webp) ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        &:after {
            content:'';
            position: absolute;
            width: 0%;
            height:100vh;
            top: 0;
            left: 0;
            background:#282c34;
            z-index: -1;
        }  
    }

    .container-fluid.grey{
        &:after {
            content:'';
            position: absolute;
            width: 0%;
            height:100vh;
            top: 0;
            left: 0;
            background-color:rgba(0,0,0,0.3);
            z-index: -1;
        }
    }

    .mensaje3r{
        position: absolute;
        top: 40%;
        left: 40%;
    z-index: 2;
        &:after {
            content:'';
            position: absolute;
            width: 100%;
            height:100%;
            top: 0;
            right: 0;
            background:white;
        }
            
        p{
        color:white;
        }
    }
    .subtitle{
        position: absolute;
        top: 50%;
        left: 35%;
        z-index: 2;
        p{
            text-align: center;
            color:white;
        }
    }
    .nav-item{

        a{
            color:white;
        }
    }
    .nav-item.icons{

        margin-top: 40px;
        margin-right: 20px;
    }
    .nav.justify-content-center{
        padding-top:20px;

    }
    .flecha{

        width: 50px;
        height: 50px;
        position: absolute;
        top: 92%;
        left: 48%;
        background:#282c34;
        padding:14px;
    }

    .row.align-items-center.iconos{

        height:80vh;
    }
    
    //md
    @media (max-width: 991.98px) {


        .flecha{
            
            left: 47%;
            background-color: #282c34;
        }
        .mensaje3r{
            position: absolute;
            top: 40%;
            left: 35%;
            
        }
        .subtitle{
            position: absolute;
            top: 50%;
            left: 30%;
        }

    }
    
    @media (max-width: 576px) {

        .mensaje3r{
            position: absolute;
            top: 40%;
            left: 22%;
        }
        .subtitle{
            position: absolute;
            top: 50%;
            left: 14%;
        }

        .flecha{
        
            left: 45%;
            background-color: #282c34;
        }

    

    }
