.container-fluid.third{
  background-color: white;
    height: auto;
    width: 100%;
 }
 a {
    color: #555;
    font-weight: 400;
  }
  
  .pSection {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1070px;
    position: relative;
    z-index: 1;
  }
  
  .pContent {
    width: 65%;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 40px 60px;

  }
.par{
  width: 65%;
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 40px 60px;
  margin-left: 35%;
}

  
  .pImage {
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    height:75vh ;
  }
.imgPar{
  width: 60%;
    position: absolute;
    top: 0;
    left: 0;
    height:75vh ;
}

  .textImg{
     size:10px;
  }

  .title{
     text-align: center;
     padding-top: 2%;
 }

  //md
  @media (max-width: 991.98px) {

    .pContent {
        padding: 10px 30px;
    }
    .pImage {
        width: 75%;
    }

}